@{
    ViewData["Title"] = "About";
}

<header class="masthead" style="background-image: url('/images/background.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>La GGJ</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7" style="text-align: justify">
                <p>Una <strong>Indie Game Jam</strong> és una trobada enfocada al ràpid prototipatge de videojocs. Els participants dissenyen un joc i el desenvolupen en un temps limitat, el necessari per a que el prototip pugui adquirir la suficient maduresa com per mostrar si la idea i disseny del joc són bons. Les Indie Game Jams van ser la font d’inspiració de Jams com la <a href="https://globalgamejam.org/">Global Game Jam</a>.</p>
                <p>La <strong>Global Game Jam</strong> va néixer amb la idea de fer la Indie Game Jam més gran del món. Es va fundar al 2008 i és un esdeveniment que anima a gent d’arreu del món a organitzar una Jam a la seva ciutat amb les següents condicions: totes les Jams es desenvolupen en una data prèviament fixada per la Global Game Jam, el temps de desenvolupament serà de 48 hores i els jocs han de complir una temàtica que serà revelada durant la Game Jam (no abans). Cada any es produeixen centenars de Game Jams al món simultàniament on els participants competeixen a nivell local i mundial.</p>
                <p>La<strong> Game Jam Barcelona @@ UPC</strong> és la Jam que es farà a Barcelona i està organitzada per l’associació <a href="https://vgafib.org/">VGAFIB</a>. <strong>VGAFIB</strong> és una associació estudiantil de la <a href="https://fib.upc.edu/">Facultat d’Informàtica de Barcelona</a> de la Universitat Politècnica de Catalunya i té com a objectiu introduir als estudiants el desenvolupament dels videojocs. Creiem que la Global Game Jam és un esdeveniment ideal per promoure els principis de l’associació. Aquest és el cinqué any que es fa i organitzem la Jam a Barcelona i juntament amb altres Jams d’Espanya animem a tots els entusiastes del desenvolupament de videojocs a participar. Inscriu-te a la Game Jam Barcelona @@ UPC.</p>
            </div>
        </div>
    </div>
</main>